[Unit]
Description=Beszel Agent Service
Wants=network-online.target
After=network-online.target

[Service]
Environment="PORT={{ beszel_agent_port }}"
Environment="KEY={{ beszel_agent_key }}"
Environment="TOKEN={{ beszel_agent_token }}"
Environment="HUB_URL={{ beszel_hub_url }}"
ExecStart={{ beszel_agent_binary_path }}
User={{ beszel_agent_user }}
Restart=on-failure
RestartSec=5
StateDirectory=beszel-agent
KeyringMode=private
LockPersonality=yes
ProtectClock=yes
ProtectHome=read-only
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectSystem=strict
RemoveIPC=yes
RestrictSUIDSGID=true

[Install]
WantedBy=multi-user.target
